@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,600;0,700;0,900;1,400;1,900&family=Ubuntu:ital,wght@0,300;0,400;1,500&display=swap");

body {
  font-family: "Montserrat";
  text-align: center;

}
.icon {
  width: 60px;
  padding-right: 3px;
}
.container-fluid {
  padding: 3% 5% 7%;
}
/* Headings */
h1, h2, h3 {
  font-family: "Montserrat-bold";
}
.big-heading{
  font-family: "Montserrat-bold";
  font-size: 2rem;
  line-height: 1.5;
}

.section-heading{
  font-size: 2rem;
  line-height: 1.5;
}
#title {
  background-color: #5b6d5b;
  color: rgb(236, 227, 227);
}
/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 2rem;
  font-family: "Montserrat-bold";
}
/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}
/* Title Image */
.title-image {
  width: 20%;
  border-radius: 20px;
  transform: rotate(15deg);
  position: absolute;
  left: 60%;
}
/* Features */
#features {
  padding: 7% 15%;
  background-color: rgb(243, 231, 231);
  position: relative;
}
.features-title{
  line-height: 1.5;
}
.font-image {
  padding: 40px;
}
.fas {
  color: #ff4c68;
  margin: 1rem;
}
.fas:hover {
  color: red;
}
h3 {
  font-family: "Ubuntu";
}
p {
  color: grey;
  font-family: "Montserrat-bold";
}

/* Testimonial-image */
#testimonials {
  font-family: "Montserrat-bold";
  background-color: #5b6d5b;
  color: rgb(236, 227, 227);
}
.testimonial-text{
  font-size: 2rem;
  line-height: 1.5;
}
.testimonial-image {
  width: 300px;
  margin: 20px;
  border-radius: 10px;
}
#press {
  background-color: #5b6d5b;
  padding: 3%;
}
.carousel-item {
  padding: 7% 15%;
}
.press-image {
  width: 15%;
  margin: 20px 20px 5px 30px;
}

/* Pricing */
.price-text{
  font-size: 2rem;
  line-height: 1.5;
}
#pricing {
  padding: 50px;
  margin: 3% 2%;
  text-align: center;
}

/* Call to Action */
#cta {
  padding: 7% 15%;
  background-color: #5b6d5b;
  color: rgb(236, 227, 227);
  font-size: 1rem;
  
}
/* Footer */
#footer{
  padding: 2% 15%;
  font-family: "Montserrat-black";
  color: black;
  font-size: .5rem;
}
.footer-link{
  font-size: 20px;
  margin: 10px;
}
/* Media Query */
@media (max-width: 768px) {
  #title {
    text-align: center;
  }
  .title-image {
    width: 40%;
    position: static;
    transform: rotate(10deg);
    margin: 10% 0 0 30%;
  }
}
@media (max-width: 469px) {
  .testimonial-image {
    width: 200px;
    margin: 20px;
    border-radius: 10px;
  }
  .testimonial-text {
    font-size: 25px;
  }
}